@import "color";

$font-color: map-get($misty-colors, "foreground");
$dim-color: map-get($misty-colors, "accent");

article {
    display: block;
    padding-bottom: 3em;
    header { 
        display: flex;
        flex: auto;
        align-items: flex-end;
    }
    h2 { width: 62%; }
    h2>a { 
        color: $font-color; 
        &:hover, &:focus, &:active, &:visited { color: $font-color; }
    }
    .post_info {
        padding-left: 4%;
        width: 33%;
        ul {
            list-style: none;
            li {
                list-style-type: none;
                padding-left: 18px;
                text-indent: -18px;
            }
            a { padding-right: 0.5em; }
        }
    }
    .dim {
        font-size: 0.75em;
        color: $dim-color;
    }
    p { 
        padding-top: 1em; 
    }}
